# ignore copywritten lit
RVD_Predictor_Analysis/data/*.pdf

# ignore generated pdfs
src/*.pdf
src/Figs/*.pdf

# ignore generated svgs
src/*.svg

# ignore Rdata
#src/*.rda

# hidden files
src/.*
*.Rhistory

# lock files
*.~lock*
